#photos-container {
    text-align: center;
    padding: 20px 50px 50px 50px;
    padding-top: ;
}

body {
    background-color: #34004f;
}

#photos-container a img {
    max-width: 400px;
    max-height: 400px;
    margin: 15px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

#photos-container a img:hover {
    transform: scale(1.06);
}

#description {
    color: white;
    margin-bottom: 20px;
}